*{
	font-family: sans-serif;
}

.labirinto{
	background-color: #fff;
	width: 588px;
	height: 588px;
	position: fixed;
	top: 50%;
	left: 50%;
	/*border: 5px solid #000;*/
	tranform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	z-index: 0;
	box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
}

.parede{
	background-color: #000;
	position: fixed;
	z-index: 5;
	/*box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);*/
}

.parede-horizontal{
	width: 11px;
	height: 1px;
}

.parede-vertical{
	width: 1px;
	height: 11px;
}

.jogador{
	width: 11px;
	height: 11px;
	left: 0;
	top: 0;
	background-color: #1122ff;
	position: fixed;
    box-shadow: inset 0 0 0 4px rgba(255,255,255,0.3);
	z-index: 4;
}

.luz{
    width: 11px;
	height: 11px;
	left: 0;
	top: 0;
	background-color: #fff;
	position: fixed;
    box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.3);
	z-index: 2;
}

.escuro{
    width: 616px;
    height: 616px;
    left: 0;
    top: 0;
	background-color: #000;
	position: fixed;
	z-index: 1;
}

.fim{
	width: 11px;
	height: 11px;
	left: 539px;
	top: 539px;
	background-color: #11ff22;
	position: fixed;
    box-shadow: inset 0 0 1px 4px rgba(255,255,255,0.3);
	z-index: 3;
}

.caminho{
	width: 11px;
	height: 11px;
	background-color: #fff;
	position: fixed;
	z-index: 2;
}

.percurso{
	width: 11px;
	height: 11px;
	background-color: #1122ff;
	position: fixed;
	z-index: 3;
}

.debug{
	width: 350px;
	height: 500px;
	overflow-y: auto;
	background-color: #000;
	color: #22aa22;
	border-radius: 10px;
	padding: 4px;
}

.image{
	position: fixed;
}
